.wrapper{
  width: 100%;
  background-image: linear-gradient(to bottom right, gray , white ,blue);

}
#hint{
  text-align: center;
  font-size: 30px;
}
.container{
  width:1150px;
  margin: 0px auto;
  border: 2px solid;
}
h1{
  text-align: center;

}
.keyboard{
  /* margin: 0px auto; */
  /* width: 800px; */
  text-align: center;
}
button{
  width: 80px;
  border-radius: 10px;
  margin: 10px;
  background-image: linear-gradient(to bottom right,orange,white, green  );
  
}
#image{
  /* width: 600px; */
  height: 200px;
  background-image: url("./hangman1.png");
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  /* float: left; */
}
#block{
  /* width: 500px; */
  /* height: 400px; */
  /* float:left; */
  font-size: 30px;
  margin: 40px;
  text-align: center;
  /* background-color: brown; */
}